// fonts
$font-primary: "Open Sans", sans-serif;
$font-secondary: "Montserrat", sans-serif;
$font-tertiary: "Merriweather", serif;

$defaultFontSize: 16;

//breakpoints

$tablet: 768px;
$desktop: 1280px;

// colors
$color-yellow: #f2e85e;
$color-back: #1f3b73;
$color-dark: #000000;
$color-light: #ffffff;
$color-secondary-light: #f9f4dc;
$color-tertiary-light: #f5f5f5;
$color-primary-dark: #114e4e;
$color-primary-darks: #114e4e;
$color-primary-medium: #438792;
$color-primary-light: #a2deaf;
$color-accenture: #f2d230;
$color-small: #6b6b6b;
$color-light-dark: #f7f7f7;
$color-form-light: #c5c5c5;
$color-form-medium: #d8d8d8;
$color-background: #ffc0cb;
$color-twitter: #00a0f5;
$color-grey: #54585a;
$color-grey-button: #d5d5d5;
$color-medium-yellow: #eab052;
